# Dependencies
node_modules/

# Environment variables (do NOT ignore .env.example)
.env
.env.example

# Application logs
logs/
*.log

# Editor configurations
.vscode/

# Temp files and test outputs
chat_test_output.json
Auth_API_Docs.doc
.DS_Store
mock.json

# Static / local assets
images/
test.rest
tests/


